body {
  text-align: center;
  font-family: Courier;
}

h2 {
  margin-bottom: 5px;
  font-weight: bold;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: normal;
}
